body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "inter", sans-serif;

}

nav  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60rem;
    padding: 0 2rem;
    position: relative;
}

.logo  {
    padding: 0;
    margin: 0;
    cursor: pointer;
    transition: 0.5s all;
}

.logo:hover {
    transform: scale(1.05);
    transition: 0.5s all;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    padding: 0 2rem;
}

a {
    text-decoration: none;
    color: #828282;
    text-transform: capitalize;
    font-size: 16px;
    transition: 0.1s ;
    font-weight:  400;
    border-bottom: solid 0px #5d64e4;
}

a:hover {
    color: #5d64e4;
    border-bottom: solid 3px #5d64e4;
    transition: 0.1s ;
}

button.signin {
    padding: 1rem 2rem;
    text-transform: capitalize;
    background: #161929;
    color: white;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    transition: 0.5s all;
    font-weight: 400;
    font-size: 16px;
}

button.signin:hover {
    transform: scale(1.05);
    transition: 0.5s all;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.maincontents {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 60rem;
    height: 65vh;
    padding: 0 4rem;
}

.headercontents {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.paragraph {
    width: 28rem;
}

h1 {
    padding: 0;
    margin: 0;
    text-transform: capitalize;
    font-size: 90px;
}

h1.blue {
    text-transform: initial;
    color: #5d64e4;
}

p {
    margin: 1rem 0  2rem 0;
    font-size: 20px;
}

img.headphones {
    height: auto;
    width: clamp(20rem, 50vw, 45rem);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
}

button.start-here {
    padding: 1rem 3rem;
    border-radius: 1rem;
    background-color: #5d64e4;
    color: white;
    border: none;
    text-transform: capitalize;
    cursor: pointer;
    transition: 0.25s all;
    font-size: 20px;
}

button.start-here:hover {
    transition: 0.25s all;
    transform: scale(1.03);
}

button.free-samples {
    padding: 1rem 3rem;
    border-radius: 1rem;
    background-color: transparent;
    color: #161929;
    border: none;
    text-transform: capitalize;
    cursor: pointer;
    transition: 0.25s all;
    font-size: 20px;
}

button.free-samples:hover {
    transition: 0.25s all;
    transform: scale(1.03);
}

.burger-menu-container {
    display: none;
}

@media screen and (max-width: 1000px) {
    .button-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .burger-menu-container {
        display: inherit;
        content: '';
        width: 30px;
        height: 20px;
        margin: 0 0 0 1rem;
        position: relative;
    }

    .burgertrigger {
        position: absolute;
        content: '';
        width: 30px;
        height: 20px;
        cursor: pointer;

        opacity: 0.5;
    }

    .burgermenu::after {
        content: '';
        width: 30px;
        height: 5px;
        background-color: #161929;
        position: absolute;
        transition: 0.25s all;
    }
    .burgermenu::before {
        content: '';
        width: 30px;
        height: 5px;
        background-color: #161929;
        position: absolute;
        transform: translateY(15px);
        transition: 0.25s all;
    }

    ul {
        position: absolute;
        left: 1rem;
        top: 0;
        visibility: hidden;
        background-color: white;
        padding: 1rem 0;
        opacity: 0;
        transition: 0.25s all;
    }
    li {
        padding: 0 1rem;
    }

    .burgermenu.active {
        transform: translateY(7.5px);
        transition: 0.25s all;
    }

    .burgermenu.active::after {
        transform:rotate(225deg) translateY(0) translateX(0);
        transition: 0.25s all;
    }

    .burgermenu.active::before {
        transform:rotate(-225deg) translateY(0) translateX(0);
        transition: 0.25s all;
    }

    ul.active {
        visibility: visible;
        opacity: 100%;
        transition: 0.25s all;
    }

    button.signin.active {
        visibility: hidden;
        opacity: 0;
        transition: 0.25s all;
    }
}

@media  screen and (max-width:800px) {
    .maincontents {
        flex-direction: column;
        padding:0 2rem ;
    }
    img.headphones {
        position: initial;
        width: 100%;
        height: auto;
    }

    nav {
        padding: 2rem 0;
    }
    h1 {
        font-size: 55px;
    }

    .paragraph {
        width: auto;
    }
    .buttons {
        display: flex;
    }

    button.free-samples {
        padding: 1rem 2rem;
    }
    button.start-here {
        padding: 1rem 2rem;
    }
}